* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  flex: 1 0 10vh;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  flex: 1 0 10vh;
}
main {
  padding: 10rem;
  flex: 10 0 70vh;
  display: flex;
  gap: 10rem;
}
